<!--
    TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then configure for your e-mail server
  -->
<EmailSettings Enabled="true|false" 
               Mode="Normal|Test" 
               SmtpHost="YOUR_SMTP_HOST" 
               SmtpPort="ex: 587" 
               ForceAsync="true|false" 
               DefaultFromAddress="YOUR_FROM_ADDRESS" 
               AdditionalToAddresses="" 
               DefaultSubject="ex: A form was posted for you!" 
               UseHtml="true|false" 
               StaffDomain="YOUR_EMAIL_DOMAIN" 
               RequireSmtpAuth="true|false" 
               AuthMode="Manual|Context|WebUser" 
               Username="SMTP_USERNAME" 
               Password="SMTP_PASSWORD" 
               LoginDomain="NETBIOS_DOMAIN" 
               RequireSSL="true|false" 
               IgnoreInvalidSslCerts="true|false" 
               TrustedPublicKeys="* NOT YET IMPLEMENTED *" />
