<?xml version="1.0"?>
<!--
  TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then add your form settings.
    
  An example is already provided for use with the included ExampleForm.html
  
  For instructions on how to use this file, see https://github.com/BellevueCollege/FormsProcessor/wiki/Service-Configuration
-->
<forms>
	<!-- Each form's settings are defined as a <form> node -->
	<form id="6DA257A5-00D7-4376-83DF-4619F91CC910" requiredFields="FaveColor,Name">
		<referrers enforce="true">
			<url>http://localhost:60592/ExampleForm.html</url>
			<url>https://localhost:60592/ExampleForm.html</url>
		</referrers>
		<email enabled="true" to="you@example.com" subject="This is the form subject" xslTemplateName="BasicEmail" />
		<database enabled="true" returnIdToCaller="true" />
		<success action="redirect" link="http://localhost:60592/ThankYou.html">Thank you for your submission (from settings).</success>
		<error action="message" link="${referrer}">
			Your form is missing some required fields (from settings):
			${MissingFields}
		</error>
	</form>
</forms>
