<connectionStrings>
  <!--
    TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then replace SERVER_NAME and DATABASE_NAME with your values.
    
    For help with Connection Strings, see: http://www.connectionstrings.com/
  -->
  <clear />
  <add name="FormProcessorDbContext"
       connectionString="Data Source=SERVER_NAME;Initial Catalog=DATABASE_NAME;Integrated Security=True;Pooling=False" 
       providerName="System.Data.SqlClient" />
  <add name="Elmah.Sql" 
       connectionString="data source=SERVER_NAME;initial catalog=DATABASE_NAME;integrated security=True;"/>
</connectionStrings>
