<?xml version="1.0"?>
<!-- ***************************************************************************
Application: Form Processor
Location: http://bellevuecollege.edu/formpro
Source: form-processor (Git)
Documentation: https://go.mybcc.net/ir/devcom/projects/Misc%20Project%20Documents/Forms%20Processor

Description:
The Form Processor is not an end-user application. It is a service that can be
called by HTML forms to process those forms.
*****************************************************************************-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog, Version=1.0.0.505, Culture=neutral, PublicKeyToken=5120e14c03d0593c" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FormProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="forms" type="FormProcessor.FormsConfigurationHandler, FormProcessor" />
    <section name="EmailSettings" type="BellevueCollege.Config.EmailSettingsConfigHandler, FormProcessor" />
  </configSections>
  
  <connectionStrings configSource="configs\ConnectionStrings.config" />
  
	<forms configSource="forms.config"/>
  
  <EmailSettings configSource="configs\EmailSettings.config" />
  
  <appSettings>
    <add key="EmailPattern" value="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
    <add key="UrlPattern" value="^http(s)?://.+" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"/>
  </system.web>
	<location path="gateway.aspx">
		<system.web>
			<!-- 
			allow @Page directives to override request validation settings - for this page only
			(this allows us to override the restriction on including HTML in textboxes for this page)
			-->
			<httpRuntime requestValidationMode="2.0" />
		</system.web>
	</location>
	<common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <!-- The xmlns/:xsi attributes below provide Intellisense support in Visual Studio -->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="C:\Windows\Temp\NLog.log" internalLogLevel="Error">
    <variable name="logFilename" value="logs/FormsProcessor" />
    <targets>
      <target xsi:type="File" name="devLog" layout="[${level}]: ${longdate} ${message}${newline}Running as ${windows-identity}" fileName="${basedir}/${logFilename}.log" archiveFileName="${basedir}/${logFilename}.{#####}.log" archiveAboveSize="102400" archiveNumbering="Sequence" concurrentWrites="false" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="devLog" />
    </rules>
  </nlog>
  <applicationSettings>
    <FormProcessor.Properties.Settings>
      <setting name="DefaultSchemaNamespace" serializeAs="String">
        <value>http://bellevuecollege.edu/FormDataSchema.xsd</value>
      </setting>
      <setting name="DefaultSchemaFile" serializeAs="String">
        <value>FormDataSchema.xsd</value>
      </setting>
    </FormProcessor.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>