<?xml version="1.0"?>
<!-- ***************************************************************************
Application: Form Processor
Location: http://bellevuecollege.edu/formpro
Source: form-processor (Git)
Documentation: https://go.mybcc.net/ir/devcom/projects/Misc%20Project%20Documents/Forms%20Processor

Description:
The Form Processor is not an end-user application. It is a service that can be
called by HTML forms to process those forms.
*****************************************************************************-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog, Version=1.0.0.505, Culture=neutral, PublicKeyToken=5120e14c03d0593c" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FormProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="forms" type="FormProcessor.FormsConfigurationHandler, FormProcessor" />
    <section name="EmailSettings" type="BellevueCollege.Config.EmailSettingsConfigHandler, FormProcessor" />
  </configSections>
  
  <connectionStrings configSource="configs\ConnectionStrings.config" />
  
  <forms>
    <!-- Each form's settings are defined as a <form> node -->
    <form id="6DA257A5-00D7-4376-83DF-4619F91CC910" requiredFields="Email,Name">
      <referrers enforce="true">
        <url>http://localhost:60592/ExampleForm.html</url>
        <url>https://localhost:60592/ExampleForm.html</url>
      </referrers>
      <email enabled="true" to="shawn.south@bellevuecollege.edu" xslTemplateName="BasicEmail" />
      <database enabled="true" returnIdToCaller="true" />
      <success action="redirect" link="http://localhost:60592/ThankYou.html">Thank you for your submission (from settings).</success>
      <error action="message" link="${referrer}">
				Your form is missing some required fields (from settings):
				${MissingFields}
			</error>
    </form>
		<form id="1ECBEB74-EF70-11E0-B5C2-E19D4824019B" requiredFields="comment">
      <referrers enforce="true">
				<url>http://localhost:60592/ExampleForm.html</url>
				<url>https://localhost:60592/ExampleForm.html</url>
			</referrers>
      <email enabled="true" to="webmaster@bellevuecollege.edu" xslTemplateName="BasicEmail" />
      <database enabled="false" returnIdToCaller="true" />
      <success action="redirect" link="http://bellevuecollege.edu/classesbetafeedback/thanks/">Thank you for your submission (from settings).</success>
      <error action="message" link="${referrer}">
				Your form is missing some required fields (from settings):
				${MissingFields}
			</error>
    </form>
  </forms>
  
  <EmailSettings configSource="configs\EmailSettings.config" />
  
  <appSettings>
    <add key="EmailPattern" value="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
    <add key="UrlPattern" value="^http(s)?://.+" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <!-- The xmlns/:xsi attributes below provide Intellisense support in Visual Studio -->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="C:\Windows\Temp\NLog.log" internalLogLevel="Error">
    <variable name="logFilename" value="logs/FormsProcessor" />
    <targets>
      <target xsi:type="File" name="devLog" layout="[${level}]: ${longdate} ${message}${newline}Running as ${windows-identity}" fileName="${basedir}/${logFilename}.log" archiveFileName="${basedir}/${logFilename}.{#####}.log" archiveAboveSize="102400" archiveNumbering="Sequence" concurrentWrites="false" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="devLog" />
    </rules>
  </nlog>
  <applicationSettings>
    <FormProcessor.Properties.Settings>
      <setting name="DefaultSchemaNamespace" serializeAs="String">
        <value>http://bellevuecollege.edu/FormDataSchema.xsd</value>
      </setting>
      <setting name="DefaultSchemaFile" serializeAs="String">
        <value>FormDataSchema.xsd</value>
      </setting>
    </FormProcessor.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>